.card-item {
    width: 100%;
    margin: 0 0 3rem;
    display: flex;
    flex-direction: row;
}

.card-item img {
    width: 8rem;
    height: 8rem;
    border-radius: 0.25rem;
}

.tutorial-title {
    font-size: 1.4rem;
    font-weight: 700;
}

.tutorial-description {
    font-size: 1.2rem;
}

.created-at {
    font-size: 1rem;
}

.badge {
    font-size: 0.8rem;
}

@media only screen and (max-width: 576px) {
    .card-item img {
        width: 5rem;
        height: 5rem;
    }
}

@media only screen and (min-width: 576px) {
    .card-item img {
        height: 7rem;
        width: 7rem;
    }
}

@media only screen and (min-width: 768px) {
    .card-item img {
        height: 9rem;
        width: 9rem;
    }
}
