.tutorial-page {
    margin-top: 5rem;
}

.tutorial-page .tutorial-title {
    font-size: 2rem;
}

p,
li {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.6rem;
}

pre {
    font-size: 1.2rem;
}

.hljs {
    padding: 1.5rem;
}

.badge {
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
}
