.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.25rem 0;
    height: 4rem;
    z-index: 2;
    box-shadow: 0 0.2rem 0.3rem rgba(202, 202, 202, 0.8);
}

.brand {
    font-size: 1.5rem;
    line-height: 3.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.nav-link {
    font-size: 1rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.large-screen-signup-btn,
.large-screen-login-btn,
.large-screen-logout-btn {
    display: none;
}
.user-icon {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
}
.user-icon:hover {
    color: rgb(85, 85, 85);
}
.btn-wp {
    display: none;
    right: 0;
}

.profile-image {
    display: block;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    right: 0.5rem;
}
.navbar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}
.name-icon {
    padding: 0.3rem;
}
.account-menu {
    position: absolute;
    right: 0.5rem;
    top: 3.4rem;
    padding: 1rem 0;
    list-style: none;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0.3rem;
}

.account-menu .name {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
}

.account-menu li {
    text-align: left;
    margin: 0;
    padding: 0.3rem 1rem;
}

.account-menu li:nth-child(2) {
    border-top: 1px solid rgb(235, 235, 235);
}
.account-menu li:not(:first-child) {
    border-bottom: 1px solid rgb(235, 235, 235);
}

.log-out-btn {
    width: calc(100% - 2rem);
}
@media only screen and (min-width: 576px) {
    .btn-wp {
        display: flex;
    }
    .user-icon {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .btn-wp {
        display: none;
    }
    .profile-image {
        position: relative;
        right: 0;
        margin: 0.625rem 1.125rem;
    }

    .large-screen-signup-btn,
    .large-screen-login-btn,
    .large-screen-logout-btn {
        display: flex;
        justify-content: center;
    }
}
